.student-form-container {
    margin: 16px;
    border: solid 1px var(--droplet-light-grey);
    width: calc(100% - 32px);
    box-sizing: border-box;
    border-radius: 3px;
    max-width: 662px;
}

.student-form-row {
    padding: 0 16px;
    max-width: 630px;
}

.student-form-container > div:first-child {
    margin-top: 16px;
}

.divider {
    background-color: var(--droplet-dark-grey);
    color: #000;
    text-align: center;
    padding: 12px 0;
    max-width: 662px;
}